@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.schedule-heading {
  text-align: center;
  /* margin-bottom: -68px; */
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.schedule {
  background-image: linear-gradient(to right bottom, #383cb9a2, #13198698, #1b1f8bb7, #3236b1b9, #1d2199bb, #0f146d9a, #020553c5),
  url('./img/image\ 12.png');
  /* background: #202020; */
  /* height: 100vh;  */
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  backdrop-filter: blur(4px);
  /* background-attachment: fixed; */
}

.right-schedule {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.img-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-schedule {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.left-schedule .back-color {}

.left-schedule h1 {
  text-align: right;
}

.right-schedule .right h1 {
  text-align: left;
}

.container {
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.timeline {
  /* width: 40%; */
  height: auto;
  color: #fff;
  /* max-width: 80%; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  /* justify-content: center; */
}

.timeline ul {
  list-style: none;
}

/* .schedule-row{
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 20px;
  color: white;
} */
.timeline-content .back-color,
.timeline-content .back-trans {
  padding: 10px;
  width: 500px;
}

.timeline-content .back-color {
  background-color: #4045C2;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 20px;
}

.timeline-content h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.3;
  /* margin-bottom: 10px; */
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  /* margin-bottom: 10px; */
  letter-spacing: 2px;
}

.image {
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.thanos {
  position: absolute;
  float: right;
  bottom: -32px;
  z-index: 2;
  display: block;
  right: 0px;
  width: 350px;
  height: 450px;
}

@media(max-width: 1180px) {

  .timeline-content .back-color,
  .timeline-content .back-trans {
    padding: 10px;
    width: 300px;
  }

  .timeline-content h1 {
    font-size: 20px;
  }

  .thanos {
    position: absolute;
    float: right;
    bottom: -21px;
    z-index: 2;
    display: block;
    right: 0px;
    width: 200px;
    height: 270px;
  }
}

@media(max-width: 770px) {

  .timeline-content .back-color,
  .timeline-content .back-trans {
    padding: 5px;
    width: 190px;
  }

  .timeline-content h1 {
    font-size: 16px;
  }

  .timeline-content {
    padding: 0;
  }

  .thanos{
    display: none;
  }
}

@media (max-width: 480px) {
  .image {
    width: 50px;
    height: 50px;
  }

  .timeline-content {
    height: 50px;
  }

  .timeline-content h1 {
    font-size: 12px;
  }

  .timeline-content .back-color,
  .timeline-content .back-trans {
    padding: 5px;
    width: 150px;
  }
}