ul {
    margin-bottom: 0px;
}

#nav-placeholder ul li a {
    padding-right: 0;
}

.teamPage .top-heading {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teamPage .top-heading h1{
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.teamPage .top-heading p{
    font-weight: 100;
    color: #fff;
    text-align: center;
}

.team-captain{
    background: linear-gradient(to right bottom, #06094957, #22267c33, #05083d40, #090a4940),
    url(../images/image\ 26.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-avengers{
    background: linear-gradient(to right bottom, #2226a470, #33377e4f, #2e339052, #0a0c4538),
    url(../images/image\ 25.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-wkanda{
    background: linear-gradient(to right bottom, #4449da40, #33377e26, #2e339024, #1517691f),
    url(../images/image\ 22.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-starforce{
    background:linear-gradient(to right bottom, #131bff4f, #0c19ff33, #3640ff24, #0304274f),
    url(../images/image\ 23.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-gog{
    background: linear-gradient(to right bottom, #4449da40, #33377e00, #2e339000, #1517691f),
    url(../images/image\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-defenders{
    background-image: linear-gradient(to right bottom, #4449da40, #33377e26, #2e339024, #1517691f),
    url(../images/image\ 27.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.team{
    color: #fff;
}

.team ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.team ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

.head {
    color: white;
}

.crop {
    width: 181px;
    height: 181px;
    justify-content: center;
    padding: 6px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    align-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */
}

.center {
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
}

.cropVIP {
    width: 220px;
    height: 220px;
    justify-content: center;
    padding: 6px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    align-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */

}

.cropCA {
    width: 190px;
    height: 190px;
    justify-content: center;
    padding: 6px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    align-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */

}

@media (max-width: 590px) {
    .teamPage .top-heading {
        height: 190px;
    }
    .teamPage .top-heading h1{
        font-size: 38px;
    }
}