.register{
    width:100%;
    font-size: white;
    background:linear-gradient(to right bottom, #4147d08c, #373fd657, #2529a08a, #4045c280, #2f34ca63, #0f146d69, #000232bd),
    url(../images/image\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 20px 0;
}
.register .title{
    color: white;
    /* letter-spacing: 8px; */
    font-size:4em;
    font-weight: 650;
    text-align: center;
}
.register .blocks{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:20px 0px;
}

.register .box:hover{
    transform: scale(1.08);
}

.register .button:hover{
    cursor: pointer;
}

.register .box h2{
    font-size: 1.4em;
    padding:5px;
    font-weight: 700;
}
.register .box p{
    font-size: 0.9rem;
    color: rgb(16, 16, 122);
    line-height: 18px;
    font-weight: 500;
}
.register .box h4{
    font-weight: 500;
}
.box h2, .register .box p, .box h4{
    text-align:center;
}
.register .content{
    background-color: rgb(247, 249, 255);
    height: 75%;
    padding: 5px 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    align-items: center;
}
.register .content-2 p{
    padding: 0px 15px;
}
.register .box{
    width: 16rem;
    /* height: fit-content; */
    margin: 50px 20px;
    box-shadow: 0px 0px 50px inherit;
}
.register .box-2{
    margin: 50px 150px;
}
.register .button{
    height: 30%;
    padding: 15px 0px;
    color: white;   
    background:linear-gradient( rgb(20, 20, 143),rgb(12, 12, 99), rgb(9, 9, 75));
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}


@media only screen and (max-width:1120px) {
    .register .box-2{
        margin: 50px 50px;
    }
}

@media only screen and (max-width:1000px) {
    .register .box-2{
        margin: 50px 10px;
    }
}

@media only screen and (max-width:870px) {
    .register .registers{
        background-position: center;
    }
    .register .blocks{
        justify-content: center;
        flex-direction: column;
    }
    .register .box{
        align-self: center;
    }
    .register .title{
        font-size: 50px;
        font-weight: 600;
        /* letter-spacing:5px; */
    }
}

