.about .section{
	width: 100%;
	/* min-height: 550px; */
	/* background-color: #030c5c; */
}
.about .container{
	width: 100%;
	display: block;
	margin:auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.about .content-section{
	width: 100%;
}
.about .content-section .title{
	font-size: 28px;
	line-height:1;
    justify-content: center;
	/* text-align: center; */
    color: white;
}
.about .content-section .content p{
	font-family: sans-serif;
	font-size: 18px;
	line-height: 0.5;
    color:	#FFFAFA;
    justify-content: center;
    letter-spacing: 1.2px;
    margin-left: 0.5px;
    margin-right: 0.5px;
}

.about .content-section .content {
	text-decoration: none;
	color:#fff;
	/* font-weight: 600; */
	font-size: 25px;
}
@media screen and (max-width: 768px){
	.about .container{
		width: 100%;
		display: block;
		margin:auto;
		padding-top:50px;
		padding-bottom: 50px;
	}
	.about .content-section{
		float:none;
		width:100%;
		display: block;
		margin:auto;
	}
	.about .content-section .title{
		text-align: center;
		font-size: 25px;
		font-weight: 600;
	}
	.about .content-section .content {
		text-align: center;
		font-size: 20px;
	}
	.about .content-section .content {
		padding:9px 30px;
	}
	.about .content-section .social{
		text-align: center;
	}
}

@media (max-width: 500px) {
	.about .content-section .content {
		font-size: 18px;
	}
}
