*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(162.37deg, #2c309e 52.24%, #000232 100.74%);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.heading{
    text-align: center;
}
.sponsor-content{
    font-size: 12px;
    text-align: center;
}
.sponsor-content h2{
    line-height: 75.3px;
}
.btn{
    background: #00023E;
    box-shadow: 4px 4px 50px 5px rgba(0, 2, 62, 0.5);
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 105px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: block;
    border: none;
    cursor: pointer;
}
@media(max-width: 426px){
    img{
        width: 150px;
        height: 45px;
    }
}